/* You can add global styles to this file, and also import other style files */
@import "custom-bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import 'ngx-toastr/toastr';




.form-control,.input-group-text{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}